#landingBody {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Media/typing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Styles for the landing page navbar */
#landingLogo {
    color: #82142D;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size: 2.5em;
}

#landingNav li {
    color: #181818;
}

#landingNav, .nav-link, .nav-link:visited, #logo {
    color: #F8F8FF;
}

    .nav-link:hover {
        color: #181818;
    }

#landingHeaderContainer {
    background-color: transparent;
}