.requirements-popup {
    z-index: 1000; /* Ensure it appears on top of other content */
    top: -100%; /* Position above the table row */
    padding: 0;
    width: 300px; /* Adjust width as needed */
}

.question-wrapper {
    position: relative; /* Ensure relative positioning for absolute popup */
}

    .question-wrapper:hover .requirements-popup {
        display: block;
    }

/*This will make the table span the whole length so that you don't have to scroll on it.*/
@media only screen and (max-width: 1100px) {
    .w-75 {
        width: 100% !important;
    }
}