html {
  font-size: 14px;

}

body {
    background-color: #F8F8FF;
}

/* Top nav section */

#topNav, .nav-link, .nav-link:visited, #srchBtn, #logo {
    color: #F8F8FF;
}

    .nav-link:hover, #srchBtn:hover {
        transform: translateY(1px);
        color: white;
    }



@keyframes movingUnderline {
    0% {
        width: 0;
        left: 50%;
    }

    100% {
        width: 100%;
        left: 0;
    }
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for the underline */
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
    animation: movingUnderline 0.3s ease; /* Animation for moving underline */
}

#flexSwitchCheckChecked {
    cursor: pointer;
}
/* End top nav */


/* General default styles. */
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100vh;
}


/* Side nav section */

.nav-pills > li > a {
    border-radius: 0;
}

/* Adjusts indent of the sub links so they don't show when the side nav is collapsed. */
.sub-links {
    padding-left: 3rem;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    padding-top: 4.5rem;
}

    #wrapper.toggled {
        padding-left: 250px;
        overflow: hidden;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 184px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}

.xyz {
    min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.fixed-brand {
    width: auto;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

    .sidebar-nav li {
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
                border-left: var(--red) 2px solid;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

.no-margin {
    margin: 0;
}

@media (min-width: 7px) {
    #wrapper {
        padding-left: 250px;
    }

    .fixed-brand {
        width: 250px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }

        #wrapper.toggled-2 #sidebar-wrapper:hover {
            width: 250px;
        }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
}
/* End side nav section */



/* Define color theme variables */

:root {
    --red: #82142e;
    --blue: #123c54;
    --dark-blue: #091c29;
    --dark-purple: #120013;
    --dark-red: #3d000a;
    --offwhite: #f2f2f2;
    --light-gray:#dddddd;
    --mid-gray: #999999;
    --dark-gray: #424242;
    --darker-gray: #333333;
    --black: #1a1a1a;
}
/* End color theme variables. */


/* Main styles */

main {
    margin-top: 4rem;
}

#headerContainer { 
    background-color: var(--red);
}

#landingHeaderContainer {
    background-color: transparent;
}

.card-header {
    background-color: var(--light-gray);
}

.card-body {
    background-color: var(--offwhite);
}

.blue-button {
    color: var(--offwhite);
    background-color: var(--blue)
}

.blue-button:hover {
    color: var(--offwhite);
    filter: brightness(1.5);
}

#sidebar-wrapper {
    background-color: #181818;
    border-right: solid;
    border-color: var(--mid-gray);
    border-width: 1px;
}

.invalid-feedback {
    color: orangered !important;
}

.valadation-msg {
    color: orangered !important;
}

#patient-banner-wrapper {
    position: fixed;
    top: 72px;
    width: 100%;
}

.bg-red {
    color: var(--offwhite);
    background-color: var(--red);
}

.text-sm {
    font-size: 13px;
}




.alert-bar {
    background-color: yellow;
    color: black;
    text-align: center;
    cursor: pointer;
    height: 22px;
    font-size: 14px;
    border-top: ridge;
    border-bottom: ridge;
    border-width: 2px
}

    .alert-bar:hover {
        filter: brightness(0.93)
    }

/* End main styles */



/*Start of requirment question mark popout*/
.question-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
/*styling for the question icon*/
.question-icon {
    width: 20px;
    height: 20px;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*styling for the popou box*/
.requirements-popup {
    display: none;
    position: absolute;
    background-color: var(--bs-gray-100);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.question-wrapper:hover .requirements-popup {
    display: block;
}
/*adjusting the views in dark mode*/
[data-bs-theme=dark].question-icon, [data-bs-theme=dark].requirements-popup {
    color: black;
    background-color: var(--mid-gray);
}
/*End of requirment question mark popout*/




/* Dark mode styles
    To add styles to utilize dark mode switching:
    Step 1: Add the data-bs-theme="auto" attribute to the element you want to style.
    Step 2: Give the element an id or class namne you can referrence for dark mode.
    Step 3: Style it below by using the [data-bs-theme=dark].YourClassOrIdNameHere selector, or elementName[data-bs-theme=dark].
*/

body[data-bs-theme=dark] {
    color: var(--offwhite);
    background-color: var(--black);
}

[data-bs-theme=dark].card {
    background-color: var(--mid-gray);
}

[data-bs-theme=dark].card-header {
    color: var(--offwhite);
    background-color: var(--darker-gray);
}

[data-bs-theme=dark].card-body {
    color: var(--offwhite);
    background-color: var(--dark-gray);
}

[data-bs-theme=dark].blue-button {
    color: var(--offwhite);
    background-color: var(--dark-blue);
}

    [data-bs-theme=dark].blue-button:hover {
        filter: brightness(1.5);
    }

section[data-bs-theme=dark] {
    border-color: var(--mid-gray);
}

[data-bs-theme=dark].form-control {
    color: var(--offwhite);
    background-color: var(--darker-gray);
    border: none;
}

[data-bs-theme=dark].dark-links {
    color: var(--light-gray);
}

    [data-bs-theme=dark].dark-links:hover {
        filter: brightness(1.5);
    }

footer[data-bs-theme=dark] {
    border-color: var(--mid-gray) !important;
}


/* End dark mode styles */
