@model MedicationProfile
@{
    ViewData["Title"] = "myEHR | Edit Medication";
    <link rel="stylesheet" href="~/css/forms.css">
    <script src="~/js/validation.js"></script>
    //<script src="~/js/confirmModal.js" defer></script>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section class="my-5 w-75" data-bs-theme="auto">

    <div class="card-header" data-bs-theme="auto">
        <h3 class="my-3">Edit Medication</h3>
    </div>

    <div class="card-body" data-bs-theme="auto">
        <form method="post" id="patientForm" enctype="multipart/form-data">

            <!-- Medication Name -->
            <div class="form-group">
                <label for="medName">Medicatin Name:</label>
                <input asp-for="medName" type="text" id="medName" name="medName" class="form-control" value="@Model.medName" data-bs-theme="auto" onblur="validateRequiredTextInput('medName', 25, 'med name')" />
                <span asp-validation-for="medName" id="medNameError" class="validation-msg"></span>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description:</label>
                <input asp-for="description" type="text" id="description" name="description" class="form-control" value="@Model.description" data-bs-theme="auto" onblur="validateOptionalTextInput('description', 35, 'description')" />
                <span asp-validation-for="description" id="descriptionError" class="validation-msg"></span>
            </div>

            <!-- Route -->
            <div class="form-group">
                <label for="Pronouns">Preferred Pronouns:</label>
                <select asp-for="route" id="route" name="route" class="form-control" data-bs-theme="auto" required>
                    <option value=""></option>
                    <option value="Oral">Oral</option>
                    <option value="Inhalation">Inhalation</option>
                </select>
            </div>

            <!-- Submit Button -->
            <div class="mt-3 d-flex justify-content-center">
                <a type="button" class="btn btn-secondary me-2" asp-controller="Patient" asp-action="AllPatients">Cancel</a>
                <input type="button" class="btn blue-button" data-bs-toggle="modal" data-bs-target="#confirmModal" value="Save" />
            </div>

            <!-- confirmation modal-->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ConfirmModalLabel">Confirm</h5>
                            <button type="button" class="btn-close" data-bs-theme="auto" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to save patient information?
                        </div>
                        <div class="modal-footer">
                            <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn blue-button" id="confirmBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>