@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "myEHR | Resources";
    <link rel="stylesheet" href="~/css/resources.css">

}

<section class="my-5 w-75 m-auto">


    <div class="card position-static mx-auto shadow-sm" data-bs-theme="auto">

        <div class="card-header text-center" data-bs-theme="auto">
            <h1>Resource Links</h1>
        </div>

        <div class="card-body" data-bs-theme="auto">
            <div class="row resource-links mt-3">
                <div class="col-md-6">
                    <h2>Anatomy & Healthcare Information</h2>
                    <ul>
                        <li><a href="https://anatomyzone.com/" target="_blank">Anatomy Zone</a></li>
                        <li><a href="https://www.getbodysmart.com/" target="_blank">Get Body Smart</a></li>
                        <li><a href="https://www.merckmanuals.com/en-ca/home" target="_blank">Merck Manual</a></li>
                        <li><a href="https://www.cancer.net/" target="_blank">Cancer - Types</a></li>
                        <li><a href="https://www.innerbody.com/htm/body.html" target="_blank">Innerbody</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h2>Regulatory & Professional Organizations</h2>
                    <ul>
                        <li><a href="https://oig.hhs.gov/" target="_blank">Office of Inspector General</a></li>
                        <li><a href="https://www.cms.gov/Medicare/Coding/ICD10" target="_blank">ICD-10 | CMS</a></li>
                        <li><a href="https://www.ama-assn.org/" target="_blank">American Medical Association</a></li>
                        <li><a href="https://www.ahima.org/" target="_blank">AHIMA</a></li>
                        <li><a href="https://www.hhs.gov/hipaa/for-professionals/index.html" target="_blank">HIPAA for Professionals</a></li>
                    </ul>
                </div>
            </div>

            <div class="row resource-links">
                <div class="col-md-6">
                    <h2>Government & Health Agencies</h2>
                    <ul>
                        <li><a href="https://www.cdc.gov/" target="_blank">Centers for Disease Control and Prevention</a></li>
                        <li><a href="https://health.gov/healthypeople" target="_blank">Healthy People 2030</a></li>
                        <li><a href="https://www.hhs.gov/" target="_blank">Department of Health and Human Services</a></li>
                        <li><a href="https://www.healthit.gov/" target="_blank">Office of the National Coordinator for Health Information Technology</a></li>
                        <li><a href="https://www.dhs.wisconsin.gov/" target="_blank">WI Department of Human Services</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h2>Healthcare Industry Resources</h2>
                    <ul>
                        <li><a href="https://www.patientrightsadvocate.org/" target="_blank">PatientRightsAdvocate.org</a></li>
                        <li><a href="https://wi.himsschapter.org/" target="_blank">Wisconsin Chapter - HIMSS</a></li>
                        <li><a href="https://ahios.org/" target="_blank">AHIOS</a></li>
                        <li><a href="https://www.whima.org/" target="_blank">WHIMA</a></li>
                        <li><a href="https://pdr.net/" target="_blank">RX</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</section>