@inject EHRApplication.Services.IListService ListService
    @model EHRApplication.ViewModels.PortalViewModel;
@{
    ViewData["Title"] = "myEHR | Edit Vital";
    <link rel="stylesheet" href="~/css/forms.css">
    var mhn = ViewBag.MHN;
    <script src="~/js/validation.js"></script>
    <script src="~/js/confirmModal.js" defer></script>
}

<section class="my-5 w-75" data-bs-theme="auto">

    <div class="card-header" data-bs-theme="auto">
        <h3 class="my-3">Create Vital</h3>
    </div>

    <div class="card-body" data-bs-theme="auto">
        <form method="post" id="visitForm" enctype="multipart/form-data">

            <input asp-for="Vital.patientId" hidden />

            <div class="form-group">
                <label for="visitId">Visit:</label>
                <select id="visitId" class="form-control" name="Vital.visitId" data-bs-theme="auto">
                    <option value="0"></option>
                    @foreach (var visit in ListService.GetPatientVisitsByMHN(mhn))
                    {
                        <option value="@visit.visitsId.ToString()">
                            @visit.date @visit.time
                        </option>
                    }
                </select>
                <span asp-validation-for="Vital.visitId" id="vitalError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="temperature">Temperature:</label>
                <input type="number" id="temperature" name="Vital.temperature" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('temperature', 100, 'temperature')" />
                <span asp-validation-for="Vital.temperature" id="temperatureError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="bloodPressure">Blood Pressure:</label>
                <input type="text" id="bloodPressure" name="Visit.bloodPressure" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('bloodPressure', 100, 'blood Pressure')" />
                <span asp-validation-for="Vital.bloodPressure" id="bloodPressureError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="respiratoryRate">Respiratory Rate:</label>
                <input type="text" id="respiratoryRate" name="Visit.respiratoryRate" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('respiratoryRate', 100, 'respiratory rate')" />
                <span asp-validation-for="Vital.respiratoryRate" id="respiratoryRateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="pulseOximetry">Pulse Oximetry:</label>
                <input type="text" id="pulseOximetry" name="Visit.pulseOximetry" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('pulseOximetry', 100, 'pulse oximetry')" />
                <span asp-validation-for="Vital.pulseOximetry" id="pulseOximetryError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="heightInches">Height Inches:</label>
                <input type="text" id="heightInches" name="Visit.heightInches" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('heightInches', 100, 'height inches')" />
                <span asp-validation-for="Vital.heightInches" id="heightInchesError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="weightPounds">Weight Pounds:</label>
                <input type="text" id="weightPounds" name="Visit.weightPounds" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('weightPounds', 100, 'weight pounds')" />
                <span asp-validation-for="Vital.weightPounds" id="weightPoundsError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="intakeMilliLiters">Intake in Milliliters:</label>
                <input type="text" id="intakeMilliLiters" name="Visit.intakeMilliLiters" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('intakeMilliLiters', 100, 'intake MilliLiters')" />
                <span asp-validation-for="Vital.intakeMilliLiters" id="intakeMilliLitersError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="outputMilliLiters">Output in Milliliters:</label>
                <input type="text" id="outputMilliLiters" name="Visit.outputMilliLiters" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('outputMilliLiters', 100, 'output MilliLiters')" />
                <span asp-validation-for="Vital.outputMilliLiters" id="outputMilliLitersError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="pulse">Pulse:</label>
                <input type="text" id="pulse" name="Visit.pulse" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('pulse', 100, 'pulse')" />
                <span asp-validation-for="Vital.pulse" id="pulseError" class="validation-msg"></span>
            </div>


            <!-- Submit Button -->
            <div class="mt-3 d-flex justify-content-center">
                <a type="button" class="btn btn-secondary me-2" value="Cancel" onclick="window.history.back()">Cancel</a>
                <input type="button" class="btn blue-button" data-bs-toggle="modal" data-bs-target="#confirmModal" value="Save" />
            </div>

            <!-- confirmation modal-->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true" data-bs-theme="auto">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ConfirmModalLabel">Confirm</h5>
                            <button type="button" class="btn-close" data-bs-theme="auto" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to save the vital information?
                        </div>
                        <div class="modal-footer">
                            <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn blue-button" id="confirmBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>