
@{
    ViewData["Title"] = "Patient Page";
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="css/patient.css">
}

<section class="my-5 card-body" data-bs-theme="auto">

    <h2 class="mb-3">Create Patient</h2>

    <form id="patientForm">
        <div class="form-group">
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" name="FirstName" class="form-control" data-bs-theme="auto" onblur="isEmpty(this, 'FirstNameError')" />
            <span id="FirstNameError" class="invalid-feedback">Please enter a valid first name.</span>

        </div>

        <div class="form-group">
            <label for="MiddleName">Middle Name (optional):</label>
            <input type="text" id="MiddleName" name="MiddleName" class="form-control" data-bs-theme="auto" />
        </div>

        <div class="form-group">
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" class="form-control" onblur="isEmpty(this, 'LastNameError')" data-bs-theme="auto" />
            <span id="LastNameError" class="invalid-feedback">Please enter a valid last name.</span>
        </div>

        <div class="form-group">
            <label for="Suffix">Suffix (optional):</label>
            <input type="text" id="Suffix" name="Suffix" class="form-control" data-bs-theme="auto" />
        </div>

        <div class="form-group">
            <label for="DOB">Date of Birth:</label>
            <input type="date" id="DOB" name="DOB" class="form-control" onblur="isEmpty(this, 'DOBError')" data-bs-theme="auto" />
            <span id="DOBError" class="invalid-feedback">Please enter a valid DOB.</span>
        </div>

        <div class="form-group">
            <label for="PrimaryPhysician">Primary Physician (optional):</label>
            <input type="text" id="PrimaryPhysician" name="PrimaryPhysician" class="form-control" data-bs-theme="auto" />
        </div>

        <div class="form-group">
            <label for="LegalGuardian1">Legal Guardian 1 (optional):</label>
            <input type="text" id="LegalGuardian1" name="LegalGuardian1" class="form-control" data-bs-theme="auto" />
        </div>

        <div class="form-group">
            <label for="LegalGuardian2">Legal Guardian 2 (optional):</label>
            <input type="text" id="LegalGuardian2" name="LegalGuardian2" class="form-control" data-bs-theme="auto" />
        </div>

        <div class="form-group">
            <label for="Religion">Religion (optional):</label>
            <input type="text" id="Religion" name="Religion" class="form-control" data-bs-theme="auto" />
        </div>

        <div class="form-group">
            <label for="Gender">Gender:</label>
            <select id="Gender" name="Gender" class="form-control" onblur="isEmpty(this, 'GenderError')" data-bs-theme="auto">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
            <span id="GenderError" class="invalid-feedback">Please select a valid gender option.</span>
        </div>

        <div class="form-group">
            <label for="PreferredLanguage">Preferred Language:</label>
            <select id="PreferredLanguage" name="PreferredLanguage" class="form-control" onblur="isEmpty(this, 'PreferredLanguageError')" data-bs-theme="auto">
                <option value="Arabic">Arabic</option>
                <option value="Bengali">Bengali</option>
                <option value="Dutch">Dutch</option>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Hindi">Hindi</option>
                <option value="Hmong">Hmong</option>
                <option value="Italian">Italian</option>
                <option value="Japanese">Japanese</option>
                <option value="Korean">Korean</option>
                <option value="Mandarin">Mandarin</option>
                <option value="Portuguese">Portuguese</option>
                <option value="Russian">Russian</option>
                <option value="Spanish">Spanish</option>

            </select>
            <span id="PrefferedLanguageError" class="invalid-feedback">Please select a valid language option.</span>
        </div>

        <div class="form-group">
            <label for="Ethnicity">Ethnicity:</label>
            <select id="Ethnicity" name="Ethnicity" class="form-control" onblur="isEmpty(this, 'EthnicityError')" data-bs-theme="auto">
                <option value="African American">African American</option>
                <option value="Asian">Asian</option>
                <option value="Caucasian">Caucasian</option>
                <option value="Other">Other</option>
                <option value="Unknown">Unknown</option>

            </select>
            <span id="EthnicityError" class="invalid-feedback">Please select a valid ethnicity option.</span>

        </div>


        <div class="form-group">
            <label for="Race" class="mb-1">Race:</label>
            <div id="Race" class="row text-nowrap">
                <!-- Add 'row' class to create a row container -->
                <div class="col-sm-6">
                    <!-- Create a column for the first half of checkboxes -->
                    <div class="race-column">
                        <input type="checkbox" id="AmericanIndian" name="Race" value="American Indian or Alaska Native" />
                        <label for="AmericanIndian" style="font-weight: normal;">American Indian or Alaska Native</label><br />
                        <input type="checkbox" id="Asian" name="Race" value="Asian" />
                        <label for="Asian" style="font-weight: normal;">Asian</label><br />
                        <input type="checkbox" id="Black" name="Race" value="Black" />
                        <label for="Black" style="font-weight: normal;">Black</label><br />
                        <input type="checkbox" id="PacificIslander" name="Race" value="Native Hawaiian or Other Pacific Islander" />
                        <label for="PacificIslander" style="font-weight: normal;">Pacific Islander</label><br />
                        <input type="checkbox" id="White" name="Race" value="White" />
                        <label for="White" style="font-weight: normal;">White</label><br />
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Create a column for the second half of checkboxes -->
                    <div class="race-column">
                        <input type="checkbox" id="Hispanic" name="Race" value="Hispanic or Latino" />
                        <label for="Hispanic" style="font-weight: normal;">Hispanic or Latino</label><br />
                        <input type="checkbox" id="MiddleEastern" name="Race" value="Middle Eastern or North African" />
                        <label for="MiddleEastern" style="font-weight: normal;">Middle Eastern or North African</label><br />
                        <input type="checkbox" id="MixedRace" name="Race" value="Mixed Race" />
                        <label for="MixedRace" style="font-weight: normal;">Mixed Race</label><br />
                        <input type="checkbox" id="OtherRace" name="Race" value="Other" />
                        <label for="OtherRace" style="font-weight: normal;">Other</label><br />
                    </div>
                </div>
            </div>
        </div>



        <div class="mt-3 d-flex justify-content-center">
            <input type="submit" class="btn blue-button" data-bs-theme="auto"/>
        </div>
    </form>

</section>



<script src="~/js/patient.js"></script>
