@model PatientDemographic

@{
    ViewData["Title"] = "Patient Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Demographic Info
                </div>
                <div class="card-body">
                    <p>Patient ID: MHN</p>
                    <p>First Name: firstName</p>
                    <p>Last Name: lastName</p>
                    <p>Suffix: suffix</p>
                    <p>Preferred Pronouns: Pronouns</p>
                    <p>Date of Birth: DOB</p>
                    <p>Gender: gender</p>
                    <p>Preferred Language: Language</p>
                    <p>Ethnicity: ethnicity</p>
                    <p>Race: race</p>
                    <p>Religion</p>
                    <p>Primary Physician: physician</p>
                    <p>Legal Guardian1: Guardian1</p>
                    <p>Legal Guardian2: Guardian2</p>
                    <p>Previous Name: Name</p>
                    <p>Gender Assigned At Birth: gender</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <!--Make height 422px-->
                    <div class="card">
                        <img src="https://www.kindpng.com/picc/m/451-4517876_default-profile-hd-png-download.png" class="card-img-top" alt="Patient Image">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Contact Info
                        </div>
                        <div class="card-body">
                            <p>Address: address</p>
                            <p>City: city</p>
                            <p>State: state</p>
                            <p>Zip Code: zipCode</p>
                            <p>Phone Number: phoneNumber</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
