<div id="landingHeaderContainer" class="position-fixed w-100">
    <header class="d-flex flex-wrap justify-content-center pt-2 mx-5 my-5">
        <a id="landingLogo" href="@Url.Action("Index", "Home")" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="~/Media/myehr2-red.png" alt="Logo" width="180"  alt="Logo">
        </a>
        <ul id="landingNav" class="nav nav-pills align-items-center fs-5">
            <li class="nav-item"><a asp-controller="Login_Register" asp-action="Login" class="nav-link">Sign In</a></li>
        </ul>
    </header>
</div>