<footer class="border-top border-white footer text-center text-white fixed-bottom" data-bs-theme="auto">
    <div class="container py-4">
        &copy; @DateTime.Now.Year  - myEHR
    </div>
</footer>