


<div id="landingHeaderContainer" class="position-fixed w-100">
    <header class="d-flex flex-wrap justify-content-center pt-2 mx-5 my-5">

        <a id="landingLogo" href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            @* <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg> *@
            <span class="fs-1 ms-3" id="logoText">Cougar<strong>Care</strong></span>
        </a>

        <ul id="landingNav" class="nav nav-pills align-items-center">

            <li class="nav-item">
                <button id="srchBtn" class="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </li>


            <li class="nav-item"><a href="#" class="nav-link">Resources</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Account</a></li>
            <li class="nav-item"><a asp-area="" asp-controller="Patient" asp-action="Index" class="nav-link">Admin</a></li>
            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Login" class="nav-link">Sign In</a></li>
        </ul>
    </header>
</div>
