@using System.Diagnostics
@{
    //Gets the controller for the page that is being displayed
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var mhn = 0;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EHRApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EHRApplication.styles.css" asp-append-version="true" />
</head>
<body data-bs-theme="auto">

    <partial name="_topNav"/>

    <!--If condition that will only display the patient banner if the page is not an an admin or login/Register page-->
    @if (controllerName != "Login_Register")
    {
        <partial name="_patientInfoBanner" />
        mhn = (int)TempData["mhn"];
    }
    else
    {
        <style>
            #sidebar-wrapper {
                margin-top: 72px;
            }
        </style>
    }

    <!-- Side nav has to be here instead of a partial view because it has to wrap the body content.-->
        <div id="wrapper">
            <!-- Sidebar -->
        <div id="sidebar-wrapper" class="sticky-top overflow-hidden">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    <li>
                       <a href="#" class="navbar-toggle collapsed ps-3" data-toggle="collapse" id="menu-toggle"><i class="fa-solid fa-bars fa-lg"></i></a>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-table-columns fa-stack-1x"></i></span>Overview</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-stethoscope fa-stack-1x"></i></span>Diagnoses</a>
                    <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-truck-medical fa-stack-1x"></i></span>Visits</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-prescription fa-stack-1x "></i></span>Medications</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a asp-area="" asp-controller="Medications" asp-action="AllMedications">All Medications</a></li>
                            <li><a asp-area="" asp-controller="Medications" asp-action="PatientMedications" asp-route-mhn="@mhn" class="Med-Link">Patient Medications</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-notes-medical fa-stack-1x"></i></span>Notes</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-file-invoice-dollar fa-stack-1x "></i></span>Insurance</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

                    <main role="main" class="pb-3" style="z-index:1;">

                        <!-- Page Content -->
                        @RenderBody()

                        <!-- The footer might need to be put on every page if there are issues with the side nav moving over part of it.-->
                        <partial name="_footer" />               
                    </main>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Font Awesome imports. -->
    <script src="~/fontawesome-free-6.5.1-web/js/brands.js"></script>
    <script src="~/fontawesome-free-6.5.1-web/js/solid.js"></script>
    <script src="~/fontawesome-free-6.5.1-web/js/fontawesome.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
