<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EHRApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EHRApplication.styles.css" asp-append-version="true" />
</head>
<body>

    <!--good-->
    <partial name="_topNav"/>




@*         <nav class="navbar navbar-default no-margin">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="fa fa-bars" aria-hidden="true"></span>
                </button>
               <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> M-33</a>
            </div>
            <!-- navbar-header-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                        <span class="fa-solid fa-bars" aria-hidden="true"></span>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- bs-example-navbar-collapse-1 -->
        </nav>
 *@        

        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    <li>
@*                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                            <span class="fa-solid fa-bars" aria-hidden="true"></span>
                        </button>
 *@                    <a href="#" class="navbar-toggle collapsed ps-3" data-toggle="collapse" id="menu-toggle"><i class="fa-solid fa-bars"></i></a>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-table-columns fa-stack-1x"></i></span>Overview</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-stethoscope fa-stack-1x"></i></span>Diagnoses</a>
                    <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-truck-medical fa-stack-1x"></i></span>Visits</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-prescription fa-stack-1x "></i></span>Medications</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-notes-medical fa-stack-1x"></i></span>Notes</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-file-invoice-dollar fa-stack-1x "></i></span>Insurance</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->






@*         <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>
        <i class="fa-solid fa-user"></i>
        <partial name="_footer" />
 *@






 
@*  @await Html.PartialAsync("_sideNav")
 *@ 
@*     <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <partial name="_footer" />

    </div>
 *@

@*     <partial name="_footer" />
 *@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/fontawesome-free-6.5.1-web/js/brands.js"></script>
    <script src="~/fontawesome-free-6.5.1-web/js/solid.js"></script>
    <script src="~/fontawesome-free-6.5.1-web/js/fontawesome.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
