<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EHRApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EHRApplication.styles.css" asp-append-version="true" />
</head>
<body data-bs-theme="auto">

    <partial name="_topNav"/>


    <!-- Side nav has to be here instead of a partial view because it has to wrap the body content.-->
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    <li>
                       <a href="#" class="navbar-toggle collapsed ps-3" data-toggle="collapse" id="menu-toggle"><i class="fa-solid fa-bars fa-lg"></i></a>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-table-columns fa-stack-1x"></i></span>Overview</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-stethoscope fa-stack-1x"></i></span>Diagnoses</a>
                    <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-truck-medical fa-stack-1x"></i></span>Visits</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-prescription fa-stack-1x "></i></span>Medications</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li class="active">
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-notes-medical fa-stack-1x"></i></span>Notes</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa-solid fa-file-invoice-dollar fa-stack-1x "></i></span>Insurance</a>
                        <ul class="nav-pills nav-stacked sub-links" style="list-style-type:none;">
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link1</a></li>
                            <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x"></i></span>link2</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
                    <main role="main" class="pb-3">

                        <!-- Patient Info Banner -->
                        <div id="patient-info-banner" class="container-fluid bg-red text-sm py-2" style="border-top:ridge; border-width: 2px" data-bs-theme="auto">
                            <div class="row align-items-center">

                                <div class="col d-flex align-items-center">
                                    
                                    <img src="~/images/blank-profile-picture.png" alt="Patient Image" class="img-fluid rounded-circle me-1" style="max-width: 100px" />

                                    <div class="">
                                        <p class="fw-bold mb-1">John Doe</p>
                                        <p class="mb-1 text-nowrap"><span class="fw-bold">DOB: </span> 01-1-1990</p>
                                        <p class="mb-1 text-nowrap"><span class="fw-bold">MHN: </span> MHN123456</p>
                                    </div>
                                </div>

                                <div class="col">
                                    <p class="mb-2"><span class="fw-bold">Gender: </span>Male</p>
                                    <p class="mb-2"><span class="fw-bold">Gender Assigned at Birth: </span>Male</p>
                                </div>

                                <div class="col">
                                    <p class="mb-2"><span class="fw-bold">Pronouns: </span>He/Him</p>
                                    <p class="mb-2"><span class="fw-bold">Primary Physician: </span>Dr. Pepper</p>
                                </div>

                            </div>
                        </div>

                        <!-- End Patient Info Banner -->

                        <!-- Alert bar -->
                        <div class="alert-bar d-flex align-items-center justify-content-center" onclick="window.location.href='#'">
                           <i class="fa-solid fa-triangle-exclamation me-1"></i>
                            <p class="mb-0">Alerts</p>
                        </div>
                        <!-- End alert bar -->



                        <!-- Actual pages -->
                        @RenderBody()

                        <!-- The footer might need to be put on every page if there are issues with the side nav moving over part of it.-->
                        <partial name="_footer" />               
                    </main>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Font Awesome imports. -->
    <script src="~/fontawesome-free-6.5.1-web/js/brands.js"></script>
    <script src="~/fontawesome-free-6.5.1-web/js/solid.js"></script>
    <script src="~/fontawesome-free-6.5.1-web/js/fontawesome.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
