@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model dynamic


<div id="headerContainer" class="sticky-top w-100">
    <header class="d-flex flex-wrap justify-content-center py-3">

        <a id="logo" href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none ms-4">
            <img src="~/Media/myehr2-white.png" alt="Logo" width="100" alt="Logo">

        </a>

        <ul id="topNav" class="nav nav-pills align-items-center">

            <li class="d-flex align-items-center">
                <i class="fa-solid fa-sun"></i>

                <!--Dark mode switch-->
                <div id="darkSwitch" class="form-check form-switch d-flex justify-content-center">
                    <input
                        class="form-check-input p-2"
                        type="checkbox"
                        id="flexSwitchCheckChecked"
                        onclick="darkSwitch()"
                    />
                </div>
                <i class="fa-solid fa-moon"></i>
            </li>
            @if (Model.Controller != "Login_Register" || Model.Action != "Login")
            {
                <li class="">
                    <button id="srchBtn" class="btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <!-- Hidden Search Bar -->
                    <div id="searchBar" class="d-none">
                        @using (Html.BeginForm("PatientSearch", "Patient", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <input type="text" id="searchInput" name="searchTerm" class="form-control" placeholder="Patient name or MHN">
                            <button type="submit" class="btn btn-default">Search</button>
                        }
                    </div>
                    <!-- End Hidden Search Bar -->
                </li>
            }

            @* <li class="nav-item"><a asp-area="" asp-controller="Resources" asp-action="Index" class="nav-link">Resources</a></li> *@
            @* <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="UserDashboard" class="nav-link">User Dashboard</a></li> *@
            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="UserDashboard" class="nav-link">Dashboard</a></li>
            @* <li class="nav-item"><a href="#" class="nav-link">Account</a></li> *@
            @* <li class="nav-item"><a asp-area="" asp-controller="Patient" asp-action="Index" class="nav-link">Admin</a></li> *@

            @if (SignInManager.IsSignedIn(User))
            {
                //This can display the user on the screen.
                //<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                <li class="nav-item"><a asp-area="" asp-controller="Login_Register" asp-action="Logout" class="nav-link">Logout</a></li>
            }else{
                <li class="nav-item"><a asp-area="" asp-controller="Login_Register" asp-action="Login" class="nav-link">Login</a></li>
            }
            <li class="nav-item">
    </li>
        </ul>
    </header>
</div>
