@{
    ViewData["Title"] = "";
    Layout = "_Landing";
}
<head>
   
</head>
<body class="">
    <div class="content">
        <h1 class="text-white text-lg-start">Hands-On Learning:<br/>your gateway to medical<br/>coding excellence</h1>
        <p class="text-white">Realistic EHR scenarios for practical coding experience.</p>
    </div>
    <div class="container">
        <button class="text-white text-center" style="border-radius:7px; background-color:#82142D;">Sign Up</button>
    </div>
</body>