
@{
    ViewData["Title"] = "UserDashboard";
    <link rel="stylesheet" href="~/css/userDashboard.css" asp-append-version="true" />

}

<div class="container">
    <h2>Welcome, User!</h2>
    <!--Start of first row-->
    <div class="card-row">
        <div class="card-box">
            <a>
                <h3 class="card-title">Test</h3>
                <ul class="card-list">
                    <li>Word1</li>
                </ul>
            </a>
        </div>
        <div class="card-box">
            <h3 class="card-title">Test</h3>
            <ul class="card-list">
                <li>Word2</li>
            </ul>
        </div>
        <div class="card-box">
            <h3 class="card-title">Test</h3>
            <ul class="card-list">
                <li>Word3</li>
            </ul>
        </div>
    </div>
    <!--Start of second row-->
    <div class="card-row">
        <div class="card-box">
            <h3 class="card-title">Test</h3>
            <ul class="card-list">
                <li>Word4</li>
            </ul>
        </div>
        <div class="card-box">
            <h3 class="card-title">Test</h3>
            <ul class="card-list">
                <li>Word5</li>
            </ul>
        </div>
        <div class="card-box">
            <h3 class="card-title">Test</h3>
            <ul class="card-list">
                <li>Word6</li>
            </ul>
        </div>
    </div>
    <!--Start of third row-->
    <div class="card-row">
        <div class="card-box">
            <h3 class="card-title">Test</h3>
            <ul class="card-list">
                <li>Word7</li>
            </ul>
        </div>
        <div class="card-box">
            <h3 class="card-title">Test</h3>
            <ul class="card-list">
                <li>Word8</li>
            </ul>
        </div>
        <div class="card-box">
            <h3 class="card-title">Test</h3>
            <ul class="card-list">
                <li>Word9</li>
            </ul>
        </div>
    </div>
</div>