@inject EHRApplication.Services.IListService ListService
@model PatientContact
@{
    ViewData["Title"] = "Patient Page";
    <link rel="stylesheet" href="~/css/forms.css">

    <script src="~/js/validation.js"></script>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section class="my-5 w-75" data-bs-theme="auto">

    <div class="card-header" data-bs-theme="auto">
        <h3 class="my-3">Create Patient</h3>
    </div>

    <div class="card-body" data-bs-theme="auto">
        <form method="post" id="patientForm">

            <div class="form-group">
                <label for="MHN">Patient:</label>
                <select data-bs-auto="auto" id="MHN" class="form-control" name="MHN" asp-for="MHN">
                    @foreach (var patient in ListService.GetPatients())
                    {
                        <option value="@patient.MHN.ToString()">
                            @patient.firstName @patient.lastName
                        </option>
                    }
                </select>
                <span asp-validation-for="MHN" id="MHNError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="Address">Address:</label>
                <input asp-for="address" type="text" id="Address" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('Address', 25, 'address')" />
                <span asp-validation-for="address" id="AddressError" class="validation-msg"></span>
            </div>


            <div class="form-group">
                <label for="City">City:</label>
                <input asp-for="city" type="text" id="City" class="form-control" data-bs-theme="auto" onblur="validateRequiredTextInput('City', 25, 'city')" />
                <span asp-validation-for="city" id="CityError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="State">State:</label>
                <input asp-for="state" type="text" id="State" class="form-control" onblur="validateRequiredTextInput('State', 25,'state')" data-bs-theme="auto" />
                <span asp-validation-for="state" id="StateError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="Zipcode">Zipcode:</label>
                <input asp-for="zipcode" id="Zipcode" class="form-control" data-bs-theme="auto" onblur="validateRequiredNumberInput('Zipcode', 6,  'zipcode')" />
                <span asp-validation-for="zipcode" id="ZipcodeError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label asp-for="phone">Phone Number:</label>
                <input asp-for="phone" id="Phone" class="form-control" data-bs-theme="auto" onblur="validateRequiredNumberInput('Phone', 10, 'phone number')" />
                <span asp-validation-for="phone" id="PhoneError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="Email">Email:</label>
                <input asp-for="email" type="text" id="Email" class="form-control" data-bs-theme="auto" onblur="validateRequiredEmailInput('Email', 50, 'email')"/>
                <span asp-validation-for="email" id="EmailError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="ECFirstname">EC First Name:</label>
                <input asp-for="ECFirstName" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECFirstName', 100, 'EC first name')" />
                <span asp-validation-for="ECFirstName" id="ECFirstNameError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="ECLastname">EC Last Name:</label>
                <input asp-for="ECLastName" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECLastName', 100, 'EC last name')" />
                <span asp-validation-for="ECLastName" id="ECLastNameError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="ECRelationship">EC Relationship:</label>
                <input asp-for="ECRelationship" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECRelationship', 100,  'EC Relationship')" />
                <span asp-validation-for="ECRelationship" id="ECRelationshipError" class="validation-msg"></span>
            </div>

            <div class="form-group">
                <label for="ECPhone">EC Phone:</label>
                <input asp-for="ECPhone" type="text" class="form-control" data-bs-theme="auto" onblur="validateOptionalTextInput('ECPhone', 25,  'EC phone')" />
                <span asp-validation-for="ECPhone" id="ECPhoneError" class="validation-msg"></span>
            </div>

            <div class="mt-3 d-flex justify-content-center">
                <input type="submit" class="btn blue-button" data-bs-theme="auto" />
            </div>
        </form>
    </div>
</section>