@model Verification
@{
    ViewData["Title"] = "myEHR | New Password";

}


<div class="container my-5 overflow-hidden">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card mx-auto shadow-sm" data-bs-theme="auto">
                <div class="h5 card-header text-center" id="passHeader" data-bs-theme="auto">New Password</div>
                <div class="card-body" data-bs-theme="auto">
                    
                    <div>
                        <!-- Password change -->
                        <form method="post">                        

                            <input asp-for="Email" hidden/>
                            <input asp-for="VerificationCode" hidden/>

                            <!-- Password Field -->
                            <div class="form-group mb-3">
                                <label for="password" class="form-label">
                                    Password:
                                    <div class="question-wrapper" id="questionWrapper" onmouseover="showRequirements()" onmouseout="hideRequirements()">
                                        <div class="question-icon rounded-circle" data-bs-theme="auto" id="questionIcon">
                                            ?
                                        </div>
                                        <div class="requirements-popup" data-bs-theme="auto" id="requirementsPopup">
                                            <ul>
                                                <li>At least 8 characters</li>
                                                <li>At least 1 uppercase letter</li>
                                                <li>At least 1 lowercase letter</li>
                                                <li>At least 1 number</li>
                                                <li>At least 1 special character</li>
                                            </ul>
                                        </div>
                                    </div>
                                </label>
                                <input asp-for="Password" type="password" class="form-control" id="password" name="password"
                                        onchange="" data-bs-theme="auto" />
                                <!-- Error message span -->
                                <span asp-validation-for="Password" class="validation-msg"></span>
                            </div>
                            <!-- Confirm Password Field -->
                            <div class="form-group mb-3">
                                <label for="confirmpassword" class="form-label">Confirm Password:</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                                        onchange="" data-bs-theme="auto" />
                                <!-- Error message span -->
                                <span asp-validation-for="ConfirmPassword" class="validation-msg"></span>
                            </div>

                            <div class="mb-3 text-center">
                                <button type="submit" class="btn blue-button" data-bs-theme="auto">Save</button>
                            </div>
                                                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>