@model RegisterAccount
@{
    ViewData["Title"] = "Register";
}
<!--This is a message banner displaying on the screen for the user to see-->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="container my-5 overflow-hidden">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card mx-auto shadow-sm" data-bs-theme="auto">
                <div class="card-header text-center" data-bs-theme="auto">Register</div>
                <div class="card-body" data-bs-theme="auto">
                    <!-- Register Form -->
                    <form method="post">
                        <!-- Username/MSTC Email Field -->
                        <div class="form-group mb-3">
                            <label for="username" class="form-label">MSTC Email:</label>
                            <input asp-for="Email" class="form-control" id="username" name="email"
                                   title="Please enter your MSTC email address."
                                   onchange=""  data-bs-theme="auto" />
                            <!-- Error message span -->
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <!-- Password Field -->
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input asp-for="Password" type="password" class="form-control" id="password" name="password"
                                   onchange=""  data-bs-theme="auto" />
                            <!-- Error message span -->
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <!-- Confirm Password Field -->
                        <div class="form-group mb-3">
                            <label for="confirmpassword" class="form-label">Confirm Password:</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="password" name="confirmpassword"
                                   onchange=""  data-bs-theme="auto" />
                            <!-- Error message span -->
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3 text-center">
                            <button type="submit" class="btn blue-button" data-bs-theme="auto">Register</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a class="dark-links" data-bs-theme="auto" asp-action="Login">Already Have An Account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="container my-5 overflow-hidden">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card mx-auto shadow-sm" data-bs-theme="auto">
                <div class="card-header text-center" data-bs-theme="auto">Register</div>
                <div class="card-body" data-bs-theme="auto">
                    <!-- Register Form -->
                    <form action="">
                        <!-- Username/MSTC Email Field -->
                        <div class="form-group mb-3">
                            <label for="username" class="form-label">MSTC Email:</label>
                            <input type="email" class="form-control" id="username" name="username"
                                   title="Please enter your MSTC email address." minlength="10"
                                   maxlength="100" pattern="[a-zA-Z0-9._%+-]+@@mstc\.edu$"
                                   onchange="" required data-bs-theme="auto" />
                        </div>
                        <!-- Password Field -->
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$"
                                   onchange="" required data-bs-theme="auto" />
                        </div>
                        <!-- Confirm Password Field -->
                        <div class="form-group mb-3">
                            <label for="confirmpassword" class="form-label">Confirm Password:</label>
                            <input type="password" class="form-control" id="password" name="confirmpassword"
                                   minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$"
                                   onchange="" required data-bs-theme="auto" />
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn blue-button" data-bs-theme="auto">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> *@
