@model RegisterAccount
@{
    ViewData["Title"] = "Register";
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
}
<!--This is a message banner displaying on the screen for the user to see-->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<div class="container my-5 overflow-hidden">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card mx-auto shadow-sm" data-bs-theme="auto">
                <div class="h5 card-header text-center" data-bs-theme="auto">Register</div>
                <div class="card-body" data-bs-theme="auto">
                    <!-- Register Form -->
                    <form method="post">
                        <!-- First Name Field -->
                        <div class="form-group mb-3">
                            <label for="firstname" class="form-label">First Name:</label>
                            <input asp-for="Firstname" class="form-control" id="firstname" name="Firstname"
                                   title="Please enter your first name"
                                   onchange="" data-bs-theme="auto" />
                            <!-- Error message span -->
                            <span asp-validation-for="Firstname" class="valadation-msg"></span>
                        </div>
                        <!-- Last Name Field -->
                        <div class="form-group mb-3">
                            <label for="lastname" class="form-label">Last Name:</label>
                            <input asp-for="Lastname" class="form-control" id="lastname" name="Lastname"
                                   title="Please enter your last name."
                                   onchange="" data-bs-theme="auto" />
                            <!-- Error message span -->
                            <span asp-validation-for="Lastname" class="valadation-msg"></span>
                        </div>
                        <!-- Username/MSTC Email Field -->
                        <div class="form-group mb-3">
                            <label for="username" class="form-label">MSTC Email:</label>
                            <input asp-for="Email" class="form-control" id="username" name="email"
                                   title="Please enter your MSTC email address."
                                   onchange=""  data-bs-theme="auto" />
                            <!-- Error message span -->
                            <span asp-validation-for="Email" class="valadation-msg"></span>
                        </div>
                        <!-- Password Field -->
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input asp-for="Password" type="password" class="form-control" id="password" name="password"
                                   onchange=""  data-bs-theme="auto" />
                            <!-- Error message span -->
                            <span asp-validation-for="Password" class="valadation-msg"></span>
                        </div>
                        <!-- Password Requirements Box -->
@*                         <div id="password-requirements" class="password-requirements-box">
                            <p>Password must contain:</p>
                            <ul>
                                <li>At least 1 uppercase letter</li>
                                <li>At least 1 lowercase letter</li>
                                <li>At least 1 number</li>
                                <li>At least 1 special character</li>
                            </ul>
                        </div> *@
                        <!-- Confirm Password Field -->
                        <div class="form-group mb-3">
                            <label for="confirmpassword" class="form-label">Confirm Password:</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="password" name="confirmpassword"
                                   onchange=""  data-bs-theme="auto" />
                            <!-- Error message span -->
                            <span asp-validation-for="ConfirmPassword" class="valadation-msg"></span>
                        </div>

                        <div class="mb-3 text-center">
                            <button type="submit" class="btn blue-button" data-bs-theme="auto">Register</button>
                        </div>

                        <div class="icon">
                            <div class="joyride-hint joyride-2 center text-center">
                                <div class="help-text">
                                    <i class="fa fa-info-circle"></i> Select a Channel
                                </div>
                                <div class="help-btn">
                                    <i class="fa fa-life-ring"></i> Why should I do this?
                                </div>
                            </div>
                            <i class="fa fa-facebook"></i>
                            <div class="popout">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-7 text-left">
                                            <label class="form-label">Post on Facebook</label>
                                        </div>
                                        <div class="col-sm-5 text-right pos-relative">
                                            <div class="joyride-hint joyride-3 center text-center">
                                                <div class="help-text">
                                                    <i class="fa fa-info-circle"></i> Post on Facebook
                                                </div>
                                                <div class="help-btn">
                                                    <i class="fa fa-life-ring"></i> Why should I do this?
                                                </div>
                                            </div>
                                            <div class="btn-group yes-btns">
                                                <button class="btn btn-primary">Yes</button><button class="btn">No</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-7 text-left">
                                            <label class="form-label">Promote</label>
                                        </div>
                                        <div class="col-sm-5 text-right pos-relative">
                                            <div class="joyride-hint joyride-4 center text-center">
                                                <div class="help-text">
                                                    <i class="fa fa-info-circle"></i> Promote this post
                                                </div>
                                                <div class="help-btn">
                                                    <i class="fa fa-life-ring"></i> What is promoting
                                                </div>
                                            </div>
                                            <div class="btn-group promote-btns">
                                                <button class="btn btn-primary">Yes</button><button class="btn">No</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- More form fields as needed -->
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <a class="dark-links" data-bs-theme="auto" asp-action="Login">Already Have An Account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../wwwroot/js/login_Register.js"></script>